body{
    margin: auto;
}

.header{
    background: rgb(34, 31, 31);
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: white;
}

/* .menu{
    float: right;
} */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 15%;
    height: 100%;
    background: rgb(37, 36, 36);
}

ul li{
    /* background: mediumaquamarine; */
}

ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-bottom: steelblue 0.5px solid;
    /* background: magenta; */
}

ul li a.active {
    background-color: #4CAF50;
    color: white;
  }

ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
}

.clearfix {
    overflow: auto;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.content{
    padding: 20px;
    overflow: auto;
}