body{
    margin: 0;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
}

form{
    width: 400px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -80%);
    background: yellowgreen;
    padding: 5px;
}

.line-form{
    margin: 10px;
}

.label{
    display: inline-block;
    width: 30%;
}

.info{
    display: inline-block;
    width: 60%;
}

.btn-login{
    padding: 4px;
    width: 60px;
}

.right-input{
    padding: 2px 0px;
}