#errorMsg{
    color: rgb(184, 0, 0);
    text-align: center;
    line-height: 25px;
    background: rgb(253, 201, 201);
}

.line-form{
    padding: 5px;

}

.label{
    display: inline-block;
    width: 20%;
}

.info{
    display: inline-block;
    width: 40%;
}

.button-form{
    padding-left: 20.5%;
    padding-top: 10px;
}

.submit{
    background: rgb(226, 58, 16);
    color: rgb(255, 255, 255);
    border: none;
    padding: 7px 12px;
}

.cancle{
    background: rgb(224, 222, 215);
    color: rgb(37, 163, 236);
    border: none;
    padding: 7px 12px;
}