table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  td a{
      display: block;
      text-decoration: none;
      color: black;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

  tr:not(.title):hover {background-color: #d9dbd1da;}

  .del-btn{
    text-align: right;
  }

  .btn-add{
      margin: 10px 0px;
  }

  .btn-add::after{
    content: "";
    clear: both;
    display: table;
  }

  .btn-add input{
      float: right;
      background: #4CAF50;
      color: white;
      padding: 5px;
  }

  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }