*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    /* font-weight: bold; */
}

body{
    margin: 0 200px;
}

.head-info{
    background: #333;
    max-width: 100%;
    height: 50px;
}

.head-image img{
    display: block;
    margin: auto;
    width: 40%;
}

/* START NAVIGATION STYLE =======================*/
.navigation-bar{
    margin-bottom: 10px;
}

.navigation-bar ul{
    list-style-type: none;
    margin: 0;
    padding-left: 15%;
    overflow: hidden;
    color: white;
    background: #333;
}

.navigation-bar li{
    float: left;
}

.navigation-bar li>a{
    display: block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

.navigation-bar li>a:hover:not(.active){
    background: #111;
}

.active{
    background: #4CAF50;
}

/* START LOGIN STYLE =======================*/
.login-bar{
    padding: 10px;
}

.forget-pass-link a{
    text-decoration: none;
    color: white;
}

/* START SIDE LEFT STYLE =======================*/
.side-left{
    float: left;
    min-width: 15%;
    min-height: 200px;
    background: #333;
}

.side-left ul{
    color: white;
    list-style-type: none;
    padding: 0px;
}

.side-left ul li a{
    display: block;
    background: #333;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.side-left ul li a:hover{
    background: #111;
}

/* START CONTENT STYLE =======================*/
.content{
    float: left;
    width: 70%;
    min-height: 200px;
    padding: 10px;
}

/* START SIDE RIGHT STYLE =======================*/
.side-right{
    float: left;
    min-width: 15%;
    min-height: 200px;
    background: #333;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* START FOOTER STYLE =======================*/
.footer{
    clear: left;
    margin-top: 10px;
    background: #333;
    height: 50px;
}