img.img-detail{
    float: left;
    width: 300px;
    margin-right: 50px;
}

.container {
    overflow: auto;
    line-height: 25px;
}

.product-name{
    color: rgb(39, 36, 31);
    font-size: 20px;
    font-weight: bold;
}

.product-code{
    color: rgb(71, 67, 58);
}

.cart-info{
    margin: 10px 0px;
}

.price{
    color: rgb(240, 14, 14);
    font-size: 35px;
    font-weight: bold;
    margin-right: 20px;
}

.label-quantity{
    color: rgb(83, 72, 72);
    font-weight: bold;
    font-size: 15px;
}

.input-quantity input{
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 15px;
}

.btn-add-to-cart input{
    background: rgb(245, 114, 7);
    color: azure;
    font-weight: bold;
    width: 90px;
    height: 32px;
}

.label{
    color: rgb(92, 83, 83);
    font-size: 13px;
    font-weight: bold;
}

.info{
    color: rgb(71, 67, 58);
    font-size: 13px;
}