* {
    box-sizing: border-box;
  }

.product-container h1{
    font-size: 20px;
    margin-bottom: 0px;
}

.product-container .product-list{
    border: solid 1px black;
    width: 100%;
    content: "";
    clear: both;
    display: table;
}

.product-container .product-list .box{
    position: relative;
    float: left;
    width: 25%;
    padding: 5px;
}