.msg-empty{
    font-size: 20px;
}

h1.title{
    font-size: 20px;
}

.product-list{
    border: solid 1px black;
    width: 100%;
    content: "";
    clear: both;
    display: table;
}

.product-list .box{
    position: relative;
    float: left;
    width: 25%;
    padding: 5px;
}

.product-list .box img{
    object-fit: cover;
    min-width: 150px;
    height: 150px;
}

.product-name{
    text-align: center;
    padding: 1px;
    color: blue;
    font-size: 14px;
    font-weight: bold;
}

.product-price{
    text-align: center;
    padding: 1px;
    color: red;
    font-size: 14px;
    font-weight: bold;
}